<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @star.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @star.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @star.length %>
</p>

<%= link_to 'Edit', edit_star_path(@star) %> |
<%= link_to 'Back', stars_path %>
